*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Roboto', sans-serif;
    font-weight: 300;

}

a{
    text-decoration: none;
    color: inherit;

}

a:hover{
    text-decoration: none;
    color: inherit;
    
}

textarea:focus, input:focus{
    outline: none;
}

div{
    padding: 0;
    margin: 0;
}

ul{
    list-style: none;
    margin: 0

}

.mix-content{
   margin-bottom: 40px
}

.btn-menu{
    font-weight: 400;
    font-size: 81.25%
}

.btn-menu{
    color: rgb(29, 29, 29);
    font-weight: 400;
}

.nav-hero{
    display: flex;
    background-color: rgba(0,0,0,0.4);
    position: fixed;
    z-index: 50;
    color: #fff;
    width: 100%;
}

.nav-hero a{
    color: #fff
}

.nav-hero .nav-brand{
    width: 18%;
    transition: all .8s ease-in-out;
}

.nav-hero .nav-brand-img{
    width: 100%
}

.nav-hero .nav-menu{
    width: 100%
}

.nav-hero .nav-menu-up{
    display: flex;
    padding: 0 1%;
    justify-content: space-around;
    height: 38px;
    align-items: center;
    border-bottom: 2px solid #fff;
    transition: all .8s ease-in-out
}

.nav-hero .nav-menu-up div{
    font-size: 81.75%
}

.nav-hero .menu{
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.nav-hero .menu-down-item-a ul{
    display: flex;
    justify-content: space-around
}

.nav-hero .menu-down-item-a li a{
    padding: 0 15px
}



.nav-hero .menu-down-item-b ul{
    display: flex;
    justify-content: space-around
}

.nav-hero .menu-down-item-b li a{
    font-size: 13px;
    padding: 0 15px
}


.nav-menu .nav-menu-down{
    height: 38px;
    align-items: center;
    display: flex;
    justify-content: space-around;
    transition: all .8s ease-in-out
}

.nav-hero.scroll{
    background-color: #000
}

.nav-hero.scroll .nav-menu-up{
    display: none
}

.nav-hero.scroll .nav-brand{
    width: 10%
}

.carousel-item{
    height: 100vh;
}

.carousel-item img{
    object-fit: cover
}

.carousel-hero{
    position: relative;
}

.carousel-hero .content-slider{
    color: #fff;
    position: absolute;
    left: 10%;
    bottom: 20%
}

.carousel-hero .content-slider h1{
    font-size: 2.5em;
    font-weight: 600;
    text-shadow: 2px 2px 2px rgba(150, 150, 150, 0.36);
}

.carousel-hero .content-slider .price{
    background-color: #fff;
    display: inline-block;
    padding: 10px 15px;
    
}

.carousel-hero .content-slider .price h3{
    margin:0;
    color: #ffb000;
    font-weight: bold;
    font-size: 2.1em
}

.carousel-hero .carousel-indicators{
    bottom: 100px
}

.carousel-hero .news-whatsapp{
    position: relative;
    height: 26px;
}

.carousel-hero .news-whatsapp input{
    margin-top: 15px;
    background: transparent;
    border: solid 1px #fff;
    padding-left: 30px;
    height: 100%;
    color: #ccc;
    

}

.carousel-hero .btn-reserva{
    background-color: #ffb000;
    color: #fff;
    font-weight: bold;
    height: 26px;
    vertical-align: bottom;
    font-size: 15px;
    padding: 0 5px;
}

.carousel-hero .news-whatsapp input::placeholder{
    color: #fff;
    font-size: 15px
}

.carousel-hero .news-whatsapp .icon{
    background-color: #fff;
    height: 26px;
    width: 26px;
    position: absolute;
    top: 15px;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center
}

.carousel-hero .news-whatsapp i{
    color: #ffb000;
    background-color: #fff;

}

.content-slider-skill{
    background: rgba(0,0,0,.8);
    width: 100%;
    height: 90px;
    position: relative;
    z-index: 10;
    margin-top: -90px;

}

.content-slider-skill .skill-items{
    display: flex;
    justify-content: center;
    height: 90px;
    
}

.content-slider-skill .skill-items .skill-item{
    padding: 10px;
    position: inline-block
}

.content-slider-skill .skill-items .skill-item img{
    width: 80%;
    margin: 0 auto
}

.title-content-container {
    display: flex;
    justify-content: center;
    margin: 30px 0;
}

.title-content-container .title-content{
    
}

.title-content-container .line{
    height: 5px;
    background-color: #000;
    width: 45px;
    border-radius: 20px
}

.title-content-container .title-content h3{
    font-weight: bold;
    font-size: 25px;
    margin-bottom: 0
}

.skill-items .skill-item .skill-number{

}

.skill-icon, .skill-date{
    display: table-cell
}

.skill-date{
    text-align: center;
    color: #fff
}

.skill-date span{
    font-size: 35px
}

.skill-date p{
    font-size: 11px;
}

.gallery{
    width: 1250px;
    height: 300px;
    margin: auto
}

.gallery-items{
    width: 100%;

}

.gallery-item{
    width: 250px;
    height: 300px;
    overflow:hidden;
    margin: auto;
    margin-right: -4px;
    display: -webkit-inline-box;
     
}

.gallery-img{
    height: 100%;
    object-fit: cover
    

}

.gallery-content{
    height: 50px;
    width: 100%;
    background-color: rgba(0,0,0,0.5);
    margin-top: -50px
}

.about .cabout{
    margin: 40px 0 0 10px
}

.about .title-content-container,
.content-hero-2 .title-content-container{
    display: block
}

.about .number{
    font-size: 40px;
    font-weight: bold;
    color: #ffb000;
    margin-right: 4px
}

.about .title{
    color: #ffb000
}


.slider-two .carousel-item{
    height: auto!important
}















